# Data Mining - Exploratory Data Analysis 游댍
**Authors:** [Melissa Perez](https://github.com/MelissaPerez09), [Adrian Flores](https://github.com/adrianRFlores), [Andrea Ramirez](https://github.com/Andrea-gt)

**Description:** Desc here

### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as pearsonr
import scipy.stats as stats
import statsmodels.stats.diagnostic as diag

### Data Cleaning
This code performs data preprocessing on 'movies_df' in two main steps:

1. Conversion of string values in numeric columns ('castMenAmount' and 'castWomenAmount') to actual numerical values.

2. Identification and replacement of unrealistically high values in the 'castMenAmount' and 'castWomenAmount' columns with NaN (Not a Number).

In [4]:
# Read the data from the 'movies.csv' file and store it in a DataFrame named 'movies_df'.
movies_df = pd.read_csv('Data/movies.csv', encoding='unicode_escape')

# Convert string values in numeric columns to actual numbers. If conversion fails, replace with NaN.
movies_df[['castMenAmount', 'castWomenAmount']] = movies_df[['castMenAmount', 'castWomenAmount']].apply(pd.to_numeric, errors='coerce')

# Replace values in 'castMenAmount' and 'castWomenAmount' columns that are unrealistically high with NaN,
# as these values likely represent errors or outliers.
movies_df[['castMenAmount', 'castWomenAmount']] = np.where(movies_df[['castMenAmount', 'castWomenAmount']] > 1000, np.nan, movies_df[['castMenAmount', 'castWomenAmount']])

# Display the DataFrame to visualize the changes made.
movies_df

,id,budget,genres,homePage,productionCompany,productionCompanyCountry,productionCountry,revenue,runtime,video,...,popularity,releaseDate,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,actorsAmount,castWomenAmount,castMenAmount
0,5,4000000,Crime|Comedy,https://www.miramax.com/movie/four-rooms/,Miramax|A Band Apart,US|US,United States of America,4257354.0,98,False,...,20.880,1995-12-09,5.7,2077,2,2,1,25,15.0,9.0
1,6,21000000,Action|Thriller|Crime,NaN,Universal Pictures|Largo Entertainment|JVC,US|US|JP,Japan|United States of America,12136938.0,110,False,...,9.596,1993-10-15,6.5,223,3,3,2,15,3.0,9.0
2,11,11000000,Adventure|Action|Science Fiction,http://www.starwars.com/films/star-wars-episod...,Lucasfilm|20th Century Fox,US|US,United States of America,775398007.0,121,NaN,...,100.003,1977-05-25,8.2,16598,3,2,1,105,5.0,62.0
3,12,94000000,Animation|Family,http://movies.disney.com/finding-nemo,Pixar,US,United States of America,940335536.0,100,NaN,...,134.435,2003-05-30,7.8,15928,2,1,1,24,5.0,18.0
4,13,55000000,Comedy|Drama|Romance,NaN,Paramount|The Steve Tisch Company,US|,United States of America,677387716.0,142,False,...,58.751,1994-07-06,8.5,22045,3,2,1,76,18.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,920081,0,Action|Horror,NaN,NaN,NaN,NaN,0.0,100,False,...,16.662,2021-11-26,6.8,108,2,1,1,10,2.0,4.0
9996,920143,0,Comedy,NaN,Caracol Televisi칩n|Dago Garc칤a Producciones,CO|CO,Colombia,0.0,97,False,...,491.706,2021-12-25,1.5,2,1,2,1,8,1.0,1.0
9997,922017,0,Comedy,NaN,NaN,NaN,Nigeria,0.0,112,False,...,565.658,2021-12-17,6.1,30,1,1,17,1,0.0,NaN
9998,922162,0,NaN,https://www.netflix.com/title/81425229,NaN,NaN,United States of America,0.0,59,False,...,9.664,2021-12-17,6.0,1,1,0,0,0,NaN,NaN
9999,922260,254056,Mystery|Thriller|Horror,NaN,Central Partnership|KIT Film Studio,RU|RU,Russia,254042.0,0,NaN,...,83.747,2021-11-11,4.7,3,3,2,1,8,4.0,3.0

### Exercise I - Data Description
Performing a quick exploration by summarizing the dataset.

In [5]:
# Create a new DataFrame 'movies_df_describe' excluding the 'id' column.
movies_df_describe = movies_df.loc[:, movies_df.columns != 'id']

# Generate descriptive statistics for only the quantitative columns.
movies_df_describe.describe(include=[np.number])

,budget,revenue,runtime,popularity,voteAvg,voteCount,genresAmount,productionCoAmount,productionCountriesAmount,actorsAmount,castWomenAmount,castMenAmount
count,1.000000e+04,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9838.000000,9478.000000
mean,1.855163e+07,5.673793e+07,100.268100,51.393907,6.483490,1342.381800,2.596500,3.171400,1.751000,2147.666600,7.148201,14.119434
std,3.662669e+07,1.495854e+08,27.777829,216.729552,0.984274,2564.196637,1.154565,2.539738,3.012093,37200.075802,6.281767,13.131693
min,0.000000e+00,0.000000e+00,0.000000,4.258000,1.300000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000e+00,90.000000,14.577750,5.900000,120.000000,2.000000,2.000000,1.000000,13.000000,3.000000,6.000000
50%,5.000000e+05,1.631245e+05,100.000000,21.905500,6.500000,415.000000,3.000000,3.000000,1.000000,21.000000,6.000000,11.000000
75%,2.000000e+07,4.479661e+07,113.000000,40.654000,7.200000,1316.000000,3.000000,4.000000,2.000000,36.000000,9.000000,19.000000
max,3.800000e+08,2.847246e+09,750.000000,11474.647000,10.000000,30788.000000,16.000000,89.000000,155.000000,919590.000000,106.000000,626.000000

### Exercise II - Variable Types


| Campo                               | Tipo de Variable       |
|:-----------------------------------:|:----------------------:|
| popularidad                         | Cuantitativa Continua  |
| presupuesto                         | Cuantitativa Continua  |
| ingresos                            | Cuantitativa Continua  |
| t칤tulo_original                     | Cualitativa Nominal    |
| idioma_original                     | Cualitativa Nominal    |
| t칤tulo                              | Cualitativa Nominal    |
| p치gina_de_inicio                    | Cualitativa Nominal    |
| video                               | Cualitativa Nominal    |
| director                            | Cualitativa Nominal    |
| duraci칩n                            | Cuantitativa Continua  |
| g칠neros                             | Cualitativa Nominal    |
| cantidad_de_g칠neros                 | Cuantitativa Discreta  |
| compa침칤a_de_producci칩n              | Cualitativa Nominal    |
| cantidad_de_producciones            | Cuantitativa Discreta  |
| pa칤s_de_la_compa침칤a_de_producci칩n  | Cualitativa Nominal    |
| pa칤s_de_producci칩n                  | Cualitativa Nominal    |
| cantidad_de_pa칤ses_de_producci칩n    | Cuantitativa Discreta  |
| fecha_de_lanzamiento                | Cualitativa Ordinal    |
| cantidad_de_votos                   | Cuantitativa Discreta  |
| promedio_de_votos                   | Cuantitativa Continua  |
| actores                             | Cualitativa Nominal    |
| popularidad_de_actores              | Cuantitativa Continua  |
| personaje_de_actores                | Cualitativa Nominal    |
| cantidad_de_actores                 | Cuantitativa Discreta  |
| cantidad_de_mujeres_del_elenco      | Cuantitativa Discreta  |
| cantidad_de_hombres_del_elenco      | Cuantitativa Discreta  |